# Configurazione deploy produzione
# Copia questo file come .env.secrets e inserisci i valori reali
# .env.secrets è in .gitignore, non verrà mai versionato

SITE_URL='https://tuodominio.it'
WP_LOGIN_PATH='/wp/wp-login.php'
WP_ADMIN_PATH='/wp/wp-admin'

WP_USER='tuo_utente_wp'
WP_PASS='LA_TUA_PASSWORD'
